<ul class='scholar-lists'>
      <% @kensis.each do |kensi|%>
      <li class='list'>
       <%= link_to kensi_path(kensi.id) do %>
        <div class='kensi-info'>
          <div class='kensi-img-content'>
            <%= image_tag kensi.image, class: 'kensi-img' %>
          </div>
          <div class='kensi-title'>
            <%= truncate(kensi.title, length:15) do%>
            <%= link_to "続きを読む" ,kensi_path(kensi.id),class:"kensi-read" %>
            <%end%>
          </div>
        </div>
       <%end%>
      </li>
     <% end %>
    </ul>
    <%= paginate @kensis %>