<%= form_with(url: search_kensis_path, local: true, method: :get, class: "form-inline mt-2 mt-md-0") do |form| %>
<%= form_with(url: search_kenzyutus_path, local: true, method: :get, class: "form-inline mt-2 mt-md-0") do |form| %>
<%= form_with(url: search_kenzyutus_path, local: true, method: :get, class: "form-inline mt-2 mt-md-0") do |form| %>
        <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "form-control mr-sm-2" %>
        <%= form.submit "検索", class: "btn btn-outline-success my-2 my-sm-0" %>
      <% end %>
       <% end %>
        <% end %>
<div class="contents row">
  <ul class='kensi-lists'>
      <% @kensis.each do |kensi|%>
      <li class='list'>
       <%= link_to kensi_path(kensi.id) do %>
        <div class='kensi-info'>
          <div class='kensi-img-content'>
            <%= image_tag kensi.image, class: 'kensi-img' %>
          </div>
          <div class='kensi-title'>
            <%= truncate(kensi.title, length:15) do%>
            <%= link_to "続きを読む" ,kensi_path(kensi.id),class:"kensi-read" %>
            <%end%>
          </div>
        </div>
       <%end%>
      </li>
     <% end %>
    </ul>
</div>
<div class="contents row">
  <ul class='kensi-lists'>
      <% @kenzyutus.each do |kenzyutu|%>
      <li class='list'>
       <%= link_to kenzyutu_path(kenzyutu.id) do %>
        <div class='kensi-info'>
          <div class='kensi-img-content'>
            <%= image_tag kenzyutu.image, class: 'kensi-img' %>
          </div>
          <div class='kensi-title'>
            <%= truncate(kenzyutu.title, length:15) do%>
            <%= link_to "続きを読む" ,kenzyutu_path(kenzyutu.id),class:"kensi-read" %>
            <%end%>
          </div>
        </div>
       <%end%>
      </li>
     <% end %>
    </ul>
</div>
<div class="contents row">
  <ul class='kensi-lists'>
      <% @kendogus.each do |kendogu|%>
      <li class='list'>
       <%= link_to kendogu_path(kendogu.id) do %>
        <div class='kensi-info'>
          <div class='kensi-img-content'>
            <%= image_tag kendogu.image, class: 'kensi-img' %>
          </div>
          <div class='kensi-title'>
            <%= truncate(kendogu.title, length:15) do%>
            <%= link_to "続きを読む" ,kendogu_path(kendogu.id),class:"kensi-read" %>
            <%end%>
          </div>
        </div>
       <%end%>
      </li>
     <% end %>
    </ul>
</div>