<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>剣der~~!</title>
    <link href="/assets/kenders.scss" rel="stylesheet">
  </head>
  <body>
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
  <div class="container">
    <span class="skiplink-text">Skip to main content</span>
  </div>
</a>

<%= render "shared/header"%>

<main role="main">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="carousel-caption text-left">
            <h1>剣道とは？</h1>
            <p>一般的な「剣の道」や剣を使った競技という意味では無く、全日本剣道連盟が定義した物を指す。</p>
            <%=link_to '詳しくみる', kenders_kendo_path, class: "btn btn-secondary"%>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="carousel-caption">
            <h1>剣術とは？</h1>
            <p>剣を使用する古武術であり、現代日本の武道である剣道の母体となった。</p>
            <%=link_to '詳しく見る', kenders_kenzyutu_path, class: "btn btn-secondary"%>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="carousel-caption text-right">
            <h1>剣道具とは？</h1>
            <p>防具（ぼうぐ）は、剣術・剣道の稽古で打突を受ける、体の保護具のこと。</p>
            <%=link_to '詳しく見る', kenders_kendougu_path, class: "btn btn-secondary"%>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img src="/assets/kendo.png" alt="Generic placeholder image" class="rounded" width="140" height="140">
        <h2>剣道</h2>
        <p>剣道についてみんなで語り合おう！ベテランの人もこれから剣道を始めたい人も。剣道を愛する人集まれ〜！</p>
        <%=link_to 'もっと見る', kensis_path, class: "btn btn-secondary"%>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/assets/samurai_kettou.png" alt="Generic placeholder image" class="rounded" width="140" height="140">
        <h2>剣術</h2>
        <p>北辰一刀流、神道無念流、天然理心流、剣道ではなく、剣術だ！剣道にはない魅力ここにあり！多いに語り合おう！</p>
        <%=link_to 'もっと見る', kenzyutus_path, class: "btn btn-secondary"%>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/assets/sports_kendou_men.png" alt="Generic placeholder image" class="rounded" width="140" height="140">
        <h2>剣道具</h2>
        <p>私が使っているのはこんな感じ。自分のお気に入りを紹介しよう。また、オススメの店をチェック！</p>
        <%=link_to 'もっと見る', kendogus_path, class: "btn btn-secondary"%>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">剣der~~!とは </h2>
        <p class="lead">剣der~~!とは、ベテランの剣道家・剣術家がこれから剣道・剣術を始めようと思っている方へ向けて魅力を伝えることができるサービスです。初心者の方がいきなり道場に行き、剣道・剣術を始めようとするのは誰もが緊張すると思います。怖いし痛そうと思うかもしれません。しかし、武道は楽しいものです。一度挑戦してみませんか？</p>
      </div>
      <div class="col-md-5">
        <img src="/assets/kendou_man.png" alt="Generic placeholder image" class="featurette-image img-fluid mx-auto">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">使用方法 </h2>
        <p class="lead">新規登録から登録していただきますと、自由に記事を投稿することとまた、好きな記事に向けコメントを送ることができます。新規登録しない場合、記事の投稿やコメントを送ることができません。しかし、記事を検索することや、記事を調べることができます。</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="/assets/iai_battou_woman.png" alt="Generic placeholder image" class="featurette-image img-fluid mx-auto">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">使用上の注意 </h2>
        <p class="lead"> 他者を誹謗中傷・批判する内容を投稿しないこと。違法行為やアダルトな内容、その他社会通念上不適切な内容の投稿をしないこと。他者の著作権・著作権人格権・商標権・肖像権等の権利を侵害する行為をしないこと。以上を守り当サービスをお楽しみください。</p>
      </div>
      <div class="col-md-5">
        <img src="/assets/edo_seppuku.png" alt="Generic placeholder image" class="featurette-image img-fluid mx-auto">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>