<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Sticky Footer Navbar Template for Bootstrap · Bootstrap</title>
    <link href="/assets/kenzyutus.scss" rel="stylesheet">
  </head>
  <body  class="d-flex flex-column h-100" >
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
  <div class="container">
    <span class="skiplink-text">Skip to main content</span>
  </div>
</a>

  <!-- Fixed navbar -->
  <header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <%= link_to '剣der~~!', root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <% if user_signed_in?%>
          <%= link_to "#{current_user.nickname}さん","#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%=link_to 'ログアウト', destroy_user_session_path, method: :delete,class: "nav-link"%>
        </li>
        <% else %>
        <li class="nav-item">
          <%=link_to 'ログイン', new_user_session_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%=link_to '新規登録', new_user_registration_path,class: "nav-link"%>
        </li>
        <% end %>
      </ul>
        <%= form_with(url: search_kenzyutus_path, local: true, method: :get, class: "form-inline mt-2 mt-md-0") do |form| %>
        <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "form-control mr-sm-2" %>
        <%= form.submit "検索", class: "btn btn-outline-success my-2 my-sm-0" %>
      <% end %>
    </div>
  </nav>
</header>

<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
  <div class="container">
  <img src="/assets/samurai_kettou.png" alt="Generic placeholder image" class="rounded" width="140" height="140">
    <p class="lead">剣術</p>
    <%= link_to(new_kenzyutu_path, class: 'post-btn') do %>
    <span class="text-muted">投稿する</span>
    <%end%>
  </div>
</main>

<footer class="footer mt-auto py-3">
  <div class="container">
  <ul class='kensi-lists'>
      <% @kenzyutus.each do |kenzyutu|%>
      <li class='list'>
       <%= link_to kenzyutu_path(kenzyutu.id) do %>
        <div class='kensi-info'>
          <div class='kensi-img-content'>
            <%= image_tag kenzyutu.image, class: 'kensi-img' %>
          </div>
          <div class='kensi-title'>
            <%= truncate(kenzyutu.title, length:15) do%>
            <%= link_to "続きを読む" ,kenzyutu_path(kenzyutu.id),class:"kensi-read" %>
            <%end%>
          </div>
        </div>
       <%end%>
      </li>
     <% end %>
    </ul>
    <%= paginate @kenzyutus %>
    </div>
</footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>